=begin
#Nutanix Prism APIs

#Manage Tasks, Category Associations and Submit Batch Operations.

The version of the OpenAPI document: 4.0

Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module NutanixPrism
  class DomainManagerApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create backup target 
    # Creates a cluster or object store as the backup target. For a given Prism Central, there can be up to 3 clusters as backup targets  and 1 object store as backup target. If any cluster or object store is not eligible for backup or  lacks appropriate permissions, the API request will fail.  For object store backup targets, specifying backup policy is mandatory along  with the location of the object store. 
    # @param domain_manager_ext_id [String] A unique identifier for the domain manager. 
    # @param ntnx_request_id [String] A unique identifier that is associated with each request. The provided value must be opaque and preferably in Universal Unique Identifier (UUID) format. This identifier is also used as an idempotence token for safely retrying requests in case of network errors. All the supported Nutanix API clients add this auto-generated request identifier to each request. 
    # @param prism_v40_management_backup_target [PrismV40ManagementBackupTarget] 
    # @param [Hash] opts the optional parameters
    # @return [CreateBackupTarget202Response]
    def create_backup_target(domain_manager_ext_id, ntnx_request_id, prism_v40_management_backup_target, opts = {})
      data, _status_code, _headers = create_backup_target_with_http_info(domain_manager_ext_id, ntnx_request_id, prism_v40_management_backup_target, opts)
      data
    end

    # Create backup target 
    # Creates a cluster or object store as the backup target. For a given Prism Central, there can be up to 3 clusters as backup targets  and 1 object store as backup target. If any cluster or object store is not eligible for backup or  lacks appropriate permissions, the API request will fail.  For object store backup targets, specifying backup policy is mandatory along  with the location of the object store. 
    # @param domain_manager_ext_id [String] A unique identifier for the domain manager. 
    # @param ntnx_request_id [String] A unique identifier that is associated with each request. The provided value must be opaque and preferably in Universal Unique Identifier (UUID) format. This identifier is also used as an idempotence token for safely retrying requests in case of network errors. All the supported Nutanix API clients add this auto-generated request identifier to each request. 
    # @param prism_v40_management_backup_target [PrismV40ManagementBackupTarget] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateBackupTarget202Response, Integer, Hash)>] CreateBackupTarget202Response data, response status code and response headers
    def create_backup_target_with_http_info(domain_manager_ext_id, ntnx_request_id, prism_v40_management_backup_target, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainManagerApi.create_backup_target ...'
      end
      # verify the required parameter 'domain_manager_ext_id' is set
      if @api_client.config.client_side_validation && domain_manager_ext_id.nil?
        fail ArgumentError, "Missing the required parameter 'domain_manager_ext_id' when calling DomainManagerApi.create_backup_target"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && domain_manager_ext_id !~ pattern
        fail ArgumentError, "invalid value for 'domain_manager_ext_id' when calling DomainManagerApi.create_backup_target, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'ntnx_request_id' is set
      if @api_client.config.client_side_validation && ntnx_request_id.nil?
        fail ArgumentError, "Missing the required parameter 'ntnx_request_id' when calling DomainManagerApi.create_backup_target"
      end
      # verify the required parameter 'prism_v40_management_backup_target' is set
      if @api_client.config.client_side_validation && prism_v40_management_backup_target.nil?
        fail ArgumentError, "Missing the required parameter 'prism_v40_management_backup_target' when calling DomainManagerApi.create_backup_target"
      end
      # resource path
      local_var_path = '/prism/v4.0/management/domain-managers/{domainManagerExtId}/backup-targets'.sub('{' + 'domainManagerExtId' + '}', CGI.escape(domain_manager_ext_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'NTNX-Request-Id'] = ntnx_request_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prism_v40_management_backup_target)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateBackupTarget202Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuthScheme', 'basicAuthScheme']

      new_options = opts.merge(
        :operation => :"DomainManagerApi.create_backup_target",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainManagerApi#create_backup_target\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deploy a Prism Central
    # Deploys a Prism Central using the provided details. Prism Central Size, Network Config are mandatory fields to deploy Prism Central. The response from this endpoint contains the URL in the task object location header that can be used to track the request status.
    # @param ntnx_request_id [String] A unique identifier that is associated with each request. The provided value must be opaque and preferably in Universal Unique Identifier (UUID) format. This identifier is also used as an idempotence token for safely retrying requests in case of network errors. All the supported Nutanix API clients add this auto-generated request identifier to each request. 
    # @param prism_v40_config_domain_manager [PrismV40ConfigDomainManager] Request body to deploy a Prism Central.
    # @param [Hash] opts the optional parameters
    # @return [CreateDomainManager202Response]
    def create_domain_manager(ntnx_request_id, prism_v40_config_domain_manager, opts = {})
      data, _status_code, _headers = create_domain_manager_with_http_info(ntnx_request_id, prism_v40_config_domain_manager, opts)
      data
    end

    # Deploy a Prism Central
    # Deploys a Prism Central using the provided details. Prism Central Size, Network Config are mandatory fields to deploy Prism Central. The response from this endpoint contains the URL in the task object location header that can be used to track the request status.
    # @param ntnx_request_id [String] A unique identifier that is associated with each request. The provided value must be opaque and preferably in Universal Unique Identifier (UUID) format. This identifier is also used as an idempotence token for safely retrying requests in case of network errors. All the supported Nutanix API clients add this auto-generated request identifier to each request. 
    # @param prism_v40_config_domain_manager [PrismV40ConfigDomainManager] Request body to deploy a Prism Central.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateDomainManager202Response, Integer, Hash)>] CreateDomainManager202Response data, response status code and response headers
    def create_domain_manager_with_http_info(ntnx_request_id, prism_v40_config_domain_manager, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainManagerApi.create_domain_manager ...'
      end
      # verify the required parameter 'ntnx_request_id' is set
      if @api_client.config.client_side_validation && ntnx_request_id.nil?
        fail ArgumentError, "Missing the required parameter 'ntnx_request_id' when calling DomainManagerApi.create_domain_manager"
      end
      # verify the required parameter 'prism_v40_config_domain_manager' is set
      if @api_client.config.client_side_validation && prism_v40_config_domain_manager.nil?
        fail ArgumentError, "Missing the required parameter 'prism_v40_config_domain_manager' when calling DomainManagerApi.create_domain_manager"
      end
      # resource path
      local_var_path = '/prism/v4.0/config/domain-managers'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'NTNX-Request-Id'] = ntnx_request_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prism_v40_config_domain_manager)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateDomainManager202Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuthScheme', 'basicAuthScheme']

      new_options = opts.merge(
        :operation => :"DomainManagerApi.create_domain_manager",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainManagerApi#create_domain_manager\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create restore source 
    # Creates a restore source pointing to a cluster or object store to restore the domain manager. The created  restore source is intended to be deleted after use. If the restore source is not deleted using the deleteRestoreSource API, then it is auto-deleted after sometime. Also note that a restore  source will not contain a backup policy. It is only used to access the backup data at the location from where  the Prism Central may be restored. Credentials used to access the restore source are not validated at the time  of creation of the restore source. They are validated when the restore source is used to fetch data. 
    # @param prism_v40_management_restore_source [PrismV40ManagementRestoreSource] 
    # @param [Hash] opts the optional parameters
    # @return [CreateRestoreSource201Response]
    def create_restore_source(prism_v40_management_restore_source, opts = {})
      data, _status_code, _headers = create_restore_source_with_http_info(prism_v40_management_restore_source, opts)
      data
    end

    # Create restore source 
    # Creates a restore source pointing to a cluster or object store to restore the domain manager. The created  restore source is intended to be deleted after use. If the restore source is not deleted using the deleteRestoreSource API, then it is auto-deleted after sometime. Also note that a restore  source will not contain a backup policy. It is only used to access the backup data at the location from where  the Prism Central may be restored. Credentials used to access the restore source are not validated at the time  of creation of the restore source. They are validated when the restore source is used to fetch data. 
    # @param prism_v40_management_restore_source [PrismV40ManagementRestoreSource] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateRestoreSource201Response, Integer, Hash)>] CreateRestoreSource201Response data, response status code and response headers
    def create_restore_source_with_http_info(prism_v40_management_restore_source, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainManagerApi.create_restore_source ...'
      end
      # verify the required parameter 'prism_v40_management_restore_source' is set
      if @api_client.config.client_side_validation && prism_v40_management_restore_source.nil?
        fail ArgumentError, "Missing the required parameter 'prism_v40_management_restore_source' when calling DomainManagerApi.create_restore_source"
      end
      # resource path
      local_var_path = '/prism/v4.0/management/restore-sources'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prism_v40_management_restore_source)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateRestoreSource201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuthScheme', 'basicAuthScheme']

      new_options = opts.merge(
        :operation => :"DomainManagerApi.create_restore_source",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainManagerApi#create_restore_source\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete backup target 
    # Removes cluster/object store from the backup targets. This will stop the cluster/object store  from backing up Prism Central data. 
    # @param domain_manager_ext_id [String] A unique identifier for the domain manager. 
    # @param ext_id [String] A globally unique identifier of an instance that is suitable for external consumption. 
    # @param if_match [String] The If-Match request header makes the request conditional. When not provided the server will respond with an HTTP 428 (Precondition Required) response code indicating that the server requires the request to be conditional. The server will allow successful completion of PUT and PATCH operations, if the resource matches the ETag value returned to the response of a GET operation. If the conditional does not match, then an HTTP 412 (Precondition Failed) response 
    # @param ntnx_request_id [String] A unique identifier that is associated with each request. The provided value must be opaque and preferably in Universal Unique Identifier (UUID) format. This identifier is also used as an idempotence token for safely retrying requests in case of network errors. All the supported Nutanix API clients add this auto-generated request identifier to each request. 
    # @param [Hash] opts the optional parameters
    # @return [DeleteBackupTargetById202Response]
    def delete_backup_target_by_id(domain_manager_ext_id, ext_id, if_match, ntnx_request_id, opts = {})
      data, _status_code, _headers = delete_backup_target_by_id_with_http_info(domain_manager_ext_id, ext_id, if_match, ntnx_request_id, opts)
      data
    end

    # Delete backup target 
    # Removes cluster/object store from the backup targets. This will stop the cluster/object store  from backing up Prism Central data. 
    # @param domain_manager_ext_id [String] A unique identifier for the domain manager. 
    # @param ext_id [String] A globally unique identifier of an instance that is suitable for external consumption. 
    # @param if_match [String] The If-Match request header makes the request conditional. When not provided the server will respond with an HTTP 428 (Precondition Required) response code indicating that the server requires the request to be conditional. The server will allow successful completion of PUT and PATCH operations, if the resource matches the ETag value returned to the response of a GET operation. If the conditional does not match, then an HTTP 412 (Precondition Failed) response 
    # @param ntnx_request_id [String] A unique identifier that is associated with each request. The provided value must be opaque and preferably in Universal Unique Identifier (UUID) format. This identifier is also used as an idempotence token for safely retrying requests in case of network errors. All the supported Nutanix API clients add this auto-generated request identifier to each request. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteBackupTargetById202Response, Integer, Hash)>] DeleteBackupTargetById202Response data, response status code and response headers
    def delete_backup_target_by_id_with_http_info(domain_manager_ext_id, ext_id, if_match, ntnx_request_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainManagerApi.delete_backup_target_by_id ...'
      end
      # verify the required parameter 'domain_manager_ext_id' is set
      if @api_client.config.client_side_validation && domain_manager_ext_id.nil?
        fail ArgumentError, "Missing the required parameter 'domain_manager_ext_id' when calling DomainManagerApi.delete_backup_target_by_id"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && domain_manager_ext_id !~ pattern
        fail ArgumentError, "invalid value for 'domain_manager_ext_id' when calling DomainManagerApi.delete_backup_target_by_id, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'ext_id' is set
      if @api_client.config.client_side_validation && ext_id.nil?
        fail ArgumentError, "Missing the required parameter 'ext_id' when calling DomainManagerApi.delete_backup_target_by_id"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && ext_id !~ pattern
        fail ArgumentError, "invalid value for 'ext_id' when calling DomainManagerApi.delete_backup_target_by_id, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'if_match' is set
      if @api_client.config.client_side_validation && if_match.nil?
        fail ArgumentError, "Missing the required parameter 'if_match' when calling DomainManagerApi.delete_backup_target_by_id"
      end
      # verify the required parameter 'ntnx_request_id' is set
      if @api_client.config.client_side_validation && ntnx_request_id.nil?
        fail ArgumentError, "Missing the required parameter 'ntnx_request_id' when calling DomainManagerApi.delete_backup_target_by_id"
      end
      # resource path
      local_var_path = '/prism/v4.0/management/domain-managers/{domainManagerExtId}/backup-targets/{extId}'.sub('{' + 'domainManagerExtId' + '}', CGI.escape(domain_manager_ext_id.to_s)).sub('{' + 'extId' + '}', CGI.escape(ext_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'If-Match'] = if_match
      header_params[:'NTNX-Request-Id'] = ntnx_request_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteBackupTargetById202Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuthScheme', 'basicAuthScheme']

      new_options = opts.merge(
        :operation => :"DomainManagerApi.delete_backup_target_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainManagerApi#delete_backup_target_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete restore source 
    # Deletes a restore source on a cluster/object store. 
    # @param ext_id [String] A globally unique identifier of an instance that is suitable for external consumption. 
    # @param if_match [String] The If-Match request header makes the request conditional. When not provided the server will respond with an HTTP 428 (Precondition Required) response code indicating that the server requires the request to be conditional. The server will allow successful completion of PUT and PATCH operations, if the resource matches the ETag value returned to the response of a GET operation. If the conditional does not match, then an HTTP 412 (Precondition Failed) response 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_restore_source_by_id(ext_id, if_match, opts = {})
      delete_restore_source_by_id_with_http_info(ext_id, if_match, opts)
      nil
    end

    # Delete restore source 
    # Deletes a restore source on a cluster/object store. 
    # @param ext_id [String] A globally unique identifier of an instance that is suitable for external consumption. 
    # @param if_match [String] The If-Match request header makes the request conditional. When not provided the server will respond with an HTTP 428 (Precondition Required) response code indicating that the server requires the request to be conditional. The server will allow successful completion of PUT and PATCH operations, if the resource matches the ETag value returned to the response of a GET operation. If the conditional does not match, then an HTTP 412 (Precondition Failed) response 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_restore_source_by_id_with_http_info(ext_id, if_match, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainManagerApi.delete_restore_source_by_id ...'
      end
      # verify the required parameter 'ext_id' is set
      if @api_client.config.client_side_validation && ext_id.nil?
        fail ArgumentError, "Missing the required parameter 'ext_id' when calling DomainManagerApi.delete_restore_source_by_id"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && ext_id !~ pattern
        fail ArgumentError, "invalid value for 'ext_id' when calling DomainManagerApi.delete_restore_source_by_id, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'if_match' is set
      if @api_client.config.client_side_validation && if_match.nil?
        fail ArgumentError, "Missing the required parameter 'if_match' when calling DomainManagerApi.delete_restore_source_by_id"
      end
      # resource path
      local_var_path = '/prism/v4.0/management/restore-sources/{extId}'.sub('{' + 'extId' + '}', CGI.escape(ext_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'If-Match'] = if_match

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuthScheme', 'basicAuthScheme']

      new_options = opts.merge(
        :operation => :"DomainManagerApi.delete_restore_source_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainManagerApi#delete_restore_source_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Fetch backup target 
    # Retrieves the backup targets (cluster or object store) from a domain manager and returns the backup configuration and lastSyncTimestamp parameter to the user. 
    # @param ext_id [String] A globally unique identifier of an instance that is suitable for external consumption. 
    # @param domain_manager_ext_id [String] A unique identifier for the domain manager. 
    # @param [Hash] opts the optional parameters
    # @return [GetBackupTargetById200Response]
    def get_backup_target_by_id(ext_id, domain_manager_ext_id, opts = {})
      data, _status_code, _headers = get_backup_target_by_id_with_http_info(ext_id, domain_manager_ext_id, opts)
      data
    end

    # Fetch backup target 
    # Retrieves the backup targets (cluster or object store) from a domain manager and returns the backup configuration and lastSyncTimestamp parameter to the user. 
    # @param ext_id [String] A globally unique identifier of an instance that is suitable for external consumption. 
    # @param domain_manager_ext_id [String] A unique identifier for the domain manager. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetBackupTargetById200Response, Integer, Hash)>] GetBackupTargetById200Response data, response status code and response headers
    def get_backup_target_by_id_with_http_info(ext_id, domain_manager_ext_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainManagerApi.get_backup_target_by_id ...'
      end
      # verify the required parameter 'ext_id' is set
      if @api_client.config.client_side_validation && ext_id.nil?
        fail ArgumentError, "Missing the required parameter 'ext_id' when calling DomainManagerApi.get_backup_target_by_id"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && ext_id !~ pattern
        fail ArgumentError, "invalid value for 'ext_id' when calling DomainManagerApi.get_backup_target_by_id, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'domain_manager_ext_id' is set
      if @api_client.config.client_side_validation && domain_manager_ext_id.nil?
        fail ArgumentError, "Missing the required parameter 'domain_manager_ext_id' when calling DomainManagerApi.get_backup_target_by_id"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && domain_manager_ext_id !~ pattern
        fail ArgumentError, "invalid value for 'domain_manager_ext_id' when calling DomainManagerApi.get_backup_target_by_id, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/prism/v4.0/management/domain-managers/{domainManagerExtId}/backup-targets/{extId}'.sub('{' + 'extId' + '}', CGI.escape(ext_id.to_s)).sub('{' + 'domainManagerExtId' + '}', CGI.escape(domain_manager_ext_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetBackupTargetById200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuthScheme', 'basicAuthScheme']

      new_options = opts.merge(
        :operation => :"DomainManagerApi.get_backup_target_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainManagerApi#get_backup_target_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the requested domain manager (Prism Central) entity
    # Fetches the attributes associated with the domain manager (Prism Central) resource based on the provided external identifier. It includes attributes like config, network, node and other information such as size, environment and resource specifications.
    # @param ext_id [String] The external identifier of the domain manager (Prism Central) resource.
    # @param [Hash] opts the optional parameters
    # @return [GetDomainManagerById200Response]
    def get_domain_manager_by_id(ext_id, opts = {})
      data, _status_code, _headers = get_domain_manager_by_id_with_http_info(ext_id, opts)
      data
    end

    # Get the requested domain manager (Prism Central) entity
    # Fetches the attributes associated with the domain manager (Prism Central) resource based on the provided external identifier. It includes attributes like config, network, node and other information such as size, environment and resource specifications.
    # @param ext_id [String] The external identifier of the domain manager (Prism Central) resource.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetDomainManagerById200Response, Integer, Hash)>] GetDomainManagerById200Response data, response status code and response headers
    def get_domain_manager_by_id_with_http_info(ext_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainManagerApi.get_domain_manager_by_id ...'
      end
      # verify the required parameter 'ext_id' is set
      if @api_client.config.client_side_validation && ext_id.nil?
        fail ArgumentError, "Missing the required parameter 'ext_id' when calling DomainManagerApi.get_domain_manager_by_id"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && ext_id !~ pattern
        fail ArgumentError, "invalid value for 'ext_id' when calling DomainManagerApi.get_domain_manager_by_id, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/prism/v4.0/config/domain-managers/{extId}'.sub('{' + 'extId' + '}', CGI.escape(ext_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetDomainManagerById200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuthScheme', 'basicAuthScheme']

      new_options = opts.merge(
        :operation => :"DomainManagerApi.get_domain_manager_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainManagerApi#get_domain_manager_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get restore point details 
    # Retrieves detailed information about a specific recovery point and provides essential domain manager information stored in the backup, which is required for the restoration process. 
    # @param restore_source_ext_id [String] A unique identifier obtained from the restore source API that corresponds to the details provided for the  restore source. 
    # @param restorable_domain_manager_ext_id [String] A unique identifier for the domain manager. 
    # @param ext_id [String] Restore point ID for the backup created in cluster/object store. 
    # @param [Hash] opts the optional parameters
    # @return [GetRestorePointById200Response]
    def get_restore_point_by_id(restore_source_ext_id, restorable_domain_manager_ext_id, ext_id, opts = {})
      data, _status_code, _headers = get_restore_point_by_id_with_http_info(restore_source_ext_id, restorable_domain_manager_ext_id, ext_id, opts)
      data
    end

    # Get restore point details 
    # Retrieves detailed information about a specific recovery point and provides essential domain manager information stored in the backup, which is required for the restoration process. 
    # @param restore_source_ext_id [String] A unique identifier obtained from the restore source API that corresponds to the details provided for the  restore source. 
    # @param restorable_domain_manager_ext_id [String] A unique identifier for the domain manager. 
    # @param ext_id [String] Restore point ID for the backup created in cluster/object store. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetRestorePointById200Response, Integer, Hash)>] GetRestorePointById200Response data, response status code and response headers
    def get_restore_point_by_id_with_http_info(restore_source_ext_id, restorable_domain_manager_ext_id, ext_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainManagerApi.get_restore_point_by_id ...'
      end
      # verify the required parameter 'restore_source_ext_id' is set
      if @api_client.config.client_side_validation && restore_source_ext_id.nil?
        fail ArgumentError, "Missing the required parameter 'restore_source_ext_id' when calling DomainManagerApi.get_restore_point_by_id"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && restore_source_ext_id !~ pattern
        fail ArgumentError, "invalid value for 'restore_source_ext_id' when calling DomainManagerApi.get_restore_point_by_id, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'restorable_domain_manager_ext_id' is set
      if @api_client.config.client_side_validation && restorable_domain_manager_ext_id.nil?
        fail ArgumentError, "Missing the required parameter 'restorable_domain_manager_ext_id' when calling DomainManagerApi.get_restore_point_by_id"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && restorable_domain_manager_ext_id !~ pattern
        fail ArgumentError, "invalid value for 'restorable_domain_manager_ext_id' when calling DomainManagerApi.get_restore_point_by_id, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'ext_id' is set
      if @api_client.config.client_side_validation && ext_id.nil?
        fail ArgumentError, "Missing the required parameter 'ext_id' when calling DomainManagerApi.get_restore_point_by_id"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && ext_id !~ pattern
        fail ArgumentError, "invalid value for 'ext_id' when calling DomainManagerApi.get_restore_point_by_id, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/prism/v4.0/management/restore-sources/{restoreSourceExtId}/restorable-domain-managers/{restorableDomainManagerExtId}/restore-points/{extId}'.sub('{' + 'restoreSourceExtId' + '}', CGI.escape(restore_source_ext_id.to_s)).sub('{' + 'restorableDomainManagerExtId' + '}', CGI.escape(restorable_domain_manager_ext_id.to_s)).sub('{' + 'extId' + '}', CGI.escape(ext_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetRestorePointById200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuthScheme', 'basicAuthScheme']

      new_options = opts.merge(
        :operation => :"DomainManagerApi.get_restore_point_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainManagerApi#get_restore_point_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Fetch restore source 
    # Retrieves the restore source from the PE cache store and returns the restore source configuration and external identifier to the user. 
    # @param ext_id [String] A globally unique identifier of an instance that is suitable for external consumption. 
    # @param [Hash] opts the optional parameters
    # @return [GetRestoreSourceById200Response]
    def get_restore_source_by_id(ext_id, opts = {})
      data, _status_code, _headers = get_restore_source_by_id_with_http_info(ext_id, opts)
      data
    end

    # Fetch restore source 
    # Retrieves the restore source from the PE cache store and returns the restore source configuration and external identifier to the user. 
    # @param ext_id [String] A globally unique identifier of an instance that is suitable for external consumption. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetRestoreSourceById200Response, Integer, Hash)>] GetRestoreSourceById200Response data, response status code and response headers
    def get_restore_source_by_id_with_http_info(ext_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainManagerApi.get_restore_source_by_id ...'
      end
      # verify the required parameter 'ext_id' is set
      if @api_client.config.client_side_validation && ext_id.nil?
        fail ArgumentError, "Missing the required parameter 'ext_id' when calling DomainManagerApi.get_restore_source_by_id"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && ext_id !~ pattern
        fail ArgumentError, "invalid value for 'ext_id' when calling DomainManagerApi.get_restore_source_by_id, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/prism/v4.0/management/restore-sources/{extId}'.sub('{' + 'extId' + '}', CGI.escape(ext_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetRestoreSourceById200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuthScheme', 'basicAuthScheme']

      new_options = opts.merge(
        :operation => :"DomainManagerApi.get_restore_source_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainManagerApi#get_restore_source_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List backup targets 
    # Lists backup targets (cluster or object store) configured for a given domain manager. 
    # @param domain_manager_ext_id [String] A unique identifier for the domain manager. 
    # @param [Hash] opts the optional parameters
    # @return [ListBackupTargets200Response]
    def list_backup_targets(domain_manager_ext_id, opts = {})
      data, _status_code, _headers = list_backup_targets_with_http_info(domain_manager_ext_id, opts)
      data
    end

    # List backup targets 
    # Lists backup targets (cluster or object store) configured for a given domain manager. 
    # @param domain_manager_ext_id [String] A unique identifier for the domain manager. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListBackupTargets200Response, Integer, Hash)>] ListBackupTargets200Response data, response status code and response headers
    def list_backup_targets_with_http_info(domain_manager_ext_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainManagerApi.list_backup_targets ...'
      end
      # verify the required parameter 'domain_manager_ext_id' is set
      if @api_client.config.client_side_validation && domain_manager_ext_id.nil?
        fail ArgumentError, "Missing the required parameter 'domain_manager_ext_id' when calling DomainManagerApi.list_backup_targets"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && domain_manager_ext_id !~ pattern
        fail ArgumentError, "invalid value for 'domain_manager_ext_id' when calling DomainManagerApi.list_backup_targets, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/prism/v4.0/management/domain-managers/{domainManagerExtId}/backup-targets'.sub('{' + 'domainManagerExtId' + '}', CGI.escape(domain_manager_ext_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListBackupTargets200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuthScheme', 'basicAuthScheme']

      new_options = opts.merge(
        :operation => :"DomainManagerApi.list_backup_targets",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainManagerApi#list_backup_targets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List domain manager (Prism Central) configuration details
    # Returns a list of elements representing the domain manager (Prism Central) instance.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :select A URL query parameter that allows clients to request a specific set of properties for each entity or complex type. Expression specified with the $select must conform to the [OData V4.01](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html) URL conventions. If a $select expression consists of a single select item that is an asterisk (i.e., *), then all properties on the matching resource will be returned. - config - extId 
    # @return [ListDomainManagers200Response]
    def list_domain_managers(opts = {})
      data, _status_code, _headers = list_domain_managers_with_http_info(opts)
      data
    end

    # List domain manager (Prism Central) configuration details
    # Returns a list of elements representing the domain manager (Prism Central) instance.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :select A URL query parameter that allows clients to request a specific set of properties for each entity or complex type. Expression specified with the $select must conform to the [OData V4.01](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html) URL conventions. If a $select expression consists of a single select item that is an asterisk (i.e., *), then all properties on the matching resource will be returned. - config - extId 
    # @return [Array<(ListDomainManagers200Response, Integer, Hash)>] ListDomainManagers200Response data, response status code and response headers
    def list_domain_managers_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainManagerApi.list_domain_managers ...'
      end
      # resource path
      local_var_path = '/prism/v4.0/config/domain-managers'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'$select'] = opts[:'select'] if !opts[:'select'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListDomainManagers200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuthScheme', 'basicAuthScheme']

      new_options = opts.merge(
        :operation => :"DomainManagerApi.list_domain_managers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainManagerApi#list_domain_managers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List restorable domain managers 
    # Lists all the domain managers backed up at the object store/cluster. 
    # @param restore_source_ext_id [String] A unique identifier obtained from the restore source API that corresponds to the details provided for the  restore source. 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page A URL query parameter that specifies the page number of the result set. It must be a positive integer between 0 and the maximum number of pages that are available for that resource. Any number out of this range might lead to no results.  (default to 0)
    # @option opts [Integer] :limit A URL query parameter that specifies the total number of records returned in the result set.  Must be a positive integer between 1 and 100. Any number out of this range will lead to a validation error. If the limit is not provided, a default value of 50 records will be returned in the result set.  (default to 50)
    # @option opts [String] :filter A URL query parameter that allows clients to filter a collection of resources. The expression specified with $filter is evaluated for each resource in the collection, and only items where the expression evaluates to true are included in the response. Expression specified with the $filter must conform to the [OData V4.01](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html) URL conventions. For example, filter &#39;$filter&#x3D;name eq &#39;karbon-ntnx-1.0&#39; would filter the result on cluster name &#39;karbon-ntnx1.0&#39;, filter &#39;$filter&#x3D;startswith(name, &#39;C&#39;)&#39; would filter on cluster name starting with &#39;C&#39;. The filter can be applied to the following fields: - extId 
    # @return [ListRestorableDomainManagers200Response]
    def list_restorable_domain_managers(restore_source_ext_id, opts = {})
      data, _status_code, _headers = list_restorable_domain_managers_with_http_info(restore_source_ext_id, opts)
      data
    end

    # List restorable domain managers 
    # Lists all the domain managers backed up at the object store/cluster. 
    # @param restore_source_ext_id [String] A unique identifier obtained from the restore source API that corresponds to the details provided for the  restore source. 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page A URL query parameter that specifies the page number of the result set. It must be a positive integer between 0 and the maximum number of pages that are available for that resource. Any number out of this range might lead to no results.  (default to 0)
    # @option opts [Integer] :limit A URL query parameter that specifies the total number of records returned in the result set.  Must be a positive integer between 1 and 100. Any number out of this range will lead to a validation error. If the limit is not provided, a default value of 50 records will be returned in the result set.  (default to 50)
    # @option opts [String] :filter A URL query parameter that allows clients to filter a collection of resources. The expression specified with $filter is evaluated for each resource in the collection, and only items where the expression evaluates to true are included in the response. Expression specified with the $filter must conform to the [OData V4.01](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html) URL conventions. For example, filter &#39;$filter&#x3D;name eq &#39;karbon-ntnx-1.0&#39; would filter the result on cluster name &#39;karbon-ntnx1.0&#39;, filter &#39;$filter&#x3D;startswith(name, &#39;C&#39;)&#39; would filter on cluster name starting with &#39;C&#39;. The filter can be applied to the following fields: - extId 
    # @return [Array<(ListRestorableDomainManagers200Response, Integer, Hash)>] ListRestorableDomainManagers200Response data, response status code and response headers
    def list_restorable_domain_managers_with_http_info(restore_source_ext_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainManagerApi.list_restorable_domain_managers ...'
      end
      # verify the required parameter 'restore_source_ext_id' is set
      if @api_client.config.client_side_validation && restore_source_ext_id.nil?
        fail ArgumentError, "Missing the required parameter 'restore_source_ext_id' when calling DomainManagerApi.list_restorable_domain_managers"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && restore_source_ext_id !~ pattern
        fail ArgumentError, "invalid value for 'restore_source_ext_id' when calling DomainManagerApi.list_restorable_domain_managers, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling DomainManagerApi.list_restorable_domain_managers, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DomainManagerApi.list_restorable_domain_managers, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DomainManagerApi.list_restorable_domain_managers, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/prism/v4.0/management/restore-sources/{restoreSourceExtId}/restorable-domain-managers'.sub('{' + 'restoreSourceExtId' + '}', CGI.escape(restore_source_ext_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'$page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'$limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'$filter'] = opts[:'filter'] if !opts[:'filter'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListRestorableDomainManagers200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuthScheme', 'basicAuthScheme']

      new_options = opts.merge(
        :operation => :"DomainManagerApi.list_restorable_domain_managers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainManagerApi#list_restorable_domain_managers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List restore points 
    # The list restore points API allows you to retrieve a list of available restore points,  which are snapshots of the domain manager taken at different times. These restore points can be used to revert the domain manager to a previous state. The list response includes the creation time and identifier ID for the configuration data.<br>  1. For cluster-based backups, only the most recent restore point is available, as backups are continuous.<br> 2. For object store-based backups, multiple restore points may be available, depending on the configured  Recovery Point Objective (RPO) and the retention period set on the s3 bucket. 
    # @param restore_source_ext_id [String] A unique identifier obtained from the restore source API that corresponds to the details provided for the  restore source. 
    # @param restorable_domain_manager_ext_id [String] A unique identifier for the domain manager. 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page A URL query parameter that specifies the page number of the result set. It must be a positive integer between 0 and the maximum number of pages that are available for that resource. Any number out of this range might lead to no results.  (default to 0)
    # @option opts [Integer] :limit A URL query parameter that specifies the total number of records returned in the result set.  Must be a positive integer between 1 and 100. Any number out of this range will lead to a validation error. If the limit is not provided, a default value of 50 records will be returned in the result set.  (default to 50)
    # @option opts [String] :filter A URL query parameter that allows clients to filter a collection of resources. The expression specified with $filter is evaluated for each resource in the collection, and only items where the expression evaluates to true are included in the response. Expression specified with the $filter must conform to the [OData V4.01](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html) URL conventions. For example, filter &#39;$filter&#x3D;name eq &#39;karbon-ntnx-1.0&#39; would filter the result on cluster name &#39;karbon-ntnx1.0&#39;, filter &#39;$filter&#x3D;startswith(name, &#39;C&#39;)&#39; would filter on cluster name starting with &#39;C&#39;. The filter can be applied to the following fields: - creationTime 
    # @option opts [String] :orderby A URL query parameter that allows clients to specify the sort criteria for the returned list of objects. Resources can be sorted in ascending order using asc or descending order using desc. If asc or desc are not specified, the resources will be sorted in ascending order by default. For example, &#39;$orderby&#x3D;templateName desc&#39; would get all templates sorted by templateName in descending order. The orderby can be applied to the following fields: - creationTime 
    # @option opts [String] :select A URL query parameter that allows clients to request a specific set of properties for each entity or complex type. Expression specified with the $select must conform to the [OData V4.01](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html) URL conventions. If a $select expression consists of a single select item that is an asterisk (i.e., *), then all properties on the matching resource will be returned. - creationTime - domainManager - extId - links - tenantId 
    # @return [ListRestorePoints200Response]
    def list_restore_points(restore_source_ext_id, restorable_domain_manager_ext_id, opts = {})
      data, _status_code, _headers = list_restore_points_with_http_info(restore_source_ext_id, restorable_domain_manager_ext_id, opts)
      data
    end

    # List restore points 
    # The list restore points API allows you to retrieve a list of available restore points,  which are snapshots of the domain manager taken at different times. These restore points can be used to revert the domain manager to a previous state. The list response includes the creation time and identifier ID for the configuration data.&lt;br&gt;  1. For cluster-based backups, only the most recent restore point is available, as backups are continuous.&lt;br&gt; 2. For object store-based backups, multiple restore points may be available, depending on the configured  Recovery Point Objective (RPO) and the retention period set on the s3 bucket. 
    # @param restore_source_ext_id [String] A unique identifier obtained from the restore source API that corresponds to the details provided for the  restore source. 
    # @param restorable_domain_manager_ext_id [String] A unique identifier for the domain manager. 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page A URL query parameter that specifies the page number of the result set. It must be a positive integer between 0 and the maximum number of pages that are available for that resource. Any number out of this range might lead to no results.  (default to 0)
    # @option opts [Integer] :limit A URL query parameter that specifies the total number of records returned in the result set.  Must be a positive integer between 1 and 100. Any number out of this range will lead to a validation error. If the limit is not provided, a default value of 50 records will be returned in the result set.  (default to 50)
    # @option opts [String] :filter A URL query parameter that allows clients to filter a collection of resources. The expression specified with $filter is evaluated for each resource in the collection, and only items where the expression evaluates to true are included in the response. Expression specified with the $filter must conform to the [OData V4.01](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html) URL conventions. For example, filter &#39;$filter&#x3D;name eq &#39;karbon-ntnx-1.0&#39; would filter the result on cluster name &#39;karbon-ntnx1.0&#39;, filter &#39;$filter&#x3D;startswith(name, &#39;C&#39;)&#39; would filter on cluster name starting with &#39;C&#39;. The filter can be applied to the following fields: - creationTime 
    # @option opts [String] :orderby A URL query parameter that allows clients to specify the sort criteria for the returned list of objects. Resources can be sorted in ascending order using asc or descending order using desc. If asc or desc are not specified, the resources will be sorted in ascending order by default. For example, &#39;$orderby&#x3D;templateName desc&#39; would get all templates sorted by templateName in descending order. The orderby can be applied to the following fields: - creationTime 
    # @option opts [String] :select A URL query parameter that allows clients to request a specific set of properties for each entity or complex type. Expression specified with the $select must conform to the [OData V4.01](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html) URL conventions. If a $select expression consists of a single select item that is an asterisk (i.e., *), then all properties on the matching resource will be returned. - creationTime - domainManager - extId - links - tenantId 
    # @return [Array<(ListRestorePoints200Response, Integer, Hash)>] ListRestorePoints200Response data, response status code and response headers
    def list_restore_points_with_http_info(restore_source_ext_id, restorable_domain_manager_ext_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainManagerApi.list_restore_points ...'
      end
      # verify the required parameter 'restore_source_ext_id' is set
      if @api_client.config.client_side_validation && restore_source_ext_id.nil?
        fail ArgumentError, "Missing the required parameter 'restore_source_ext_id' when calling DomainManagerApi.list_restore_points"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && restore_source_ext_id !~ pattern
        fail ArgumentError, "invalid value for 'restore_source_ext_id' when calling DomainManagerApi.list_restore_points, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'restorable_domain_manager_ext_id' is set
      if @api_client.config.client_side_validation && restorable_domain_manager_ext_id.nil?
        fail ArgumentError, "Missing the required parameter 'restorable_domain_manager_ext_id' when calling DomainManagerApi.list_restore_points"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && restorable_domain_manager_ext_id !~ pattern
        fail ArgumentError, "invalid value for 'restorable_domain_manager_ext_id' when calling DomainManagerApi.list_restore_points, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling DomainManagerApi.list_restore_points, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DomainManagerApi.list_restore_points, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DomainManagerApi.list_restore_points, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/prism/v4.0/management/restore-sources/{restoreSourceExtId}/restorable-domain-managers/{restorableDomainManagerExtId}/restore-points'.sub('{' + 'restoreSourceExtId' + '}', CGI.escape(restore_source_ext_id.to_s)).sub('{' + 'restorableDomainManagerExtId' + '}', CGI.escape(restorable_domain_manager_ext_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'$page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'$limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'$filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'$orderby'] = opts[:'orderby'] if !opts[:'orderby'].nil?
      query_params[:'$select'] = opts[:'select'] if !opts[:'select'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListRestorePoints200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuthScheme', 'basicAuthScheme']

      new_options = opts.merge(
        :operation => :"DomainManagerApi.list_restore_points",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainManagerApi#list_restore_points\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Register a domain manager (Prism Central) to a cluster
    # Registers a domain manager (Prism Central) instance to other entities like PE and PC. This process is asynchronous, creating a registration task and returning its UUID.
    # @param ext_id [String] The external identifier of the domain manager (Prism Central) resource.
    # @param if_match [String] The If-Match request header makes the request conditional. When not provided the server will respond with an HTTP 428 (Precondition Required) response code indicating that the server requires the request to be conditional. The server will allow successful completion of PUT and PATCH operations, if the resource matches the ETag value returned to the response of a GET operation. If the conditional does not match, then an HTTP 412 (Precondition Failed) response 
    # @param ntnx_request_id [String] A unique identifier that is associated with each request. The provided value must be opaque and preferably in Universal Unique Identifier (UUID) format. This identifier is also used as an idempotence token for safely retrying requests in case of network errors. All the supported Nutanix API clients add this auto-generated request identifier to each request. 
    # @param prism_v40_management_cluster_registration_spec [PrismV40ManagementClusterRegistrationSpec] The registration request consists of the remote cluster details. Credentials must be of domain manager (Prism Central) role.
    # @param [Hash] opts the optional parameters
    # @return [Register202Response]
    def register(ext_id, if_match, ntnx_request_id, prism_v40_management_cluster_registration_spec, opts = {})
      data, _status_code, _headers = register_with_http_info(ext_id, if_match, ntnx_request_id, prism_v40_management_cluster_registration_spec, opts)
      data
    end

    # Register a domain manager (Prism Central) to a cluster
    # Registers a domain manager (Prism Central) instance to other entities like PE and PC. This process is asynchronous, creating a registration task and returning its UUID.
    # @param ext_id [String] The external identifier of the domain manager (Prism Central) resource.
    # @param if_match [String] The If-Match request header makes the request conditional. When not provided the server will respond with an HTTP 428 (Precondition Required) response code indicating that the server requires the request to be conditional. The server will allow successful completion of PUT and PATCH operations, if the resource matches the ETag value returned to the response of a GET operation. If the conditional does not match, then an HTTP 412 (Precondition Failed) response 
    # @param ntnx_request_id [String] A unique identifier that is associated with each request. The provided value must be opaque and preferably in Universal Unique Identifier (UUID) format. This identifier is also used as an idempotence token for safely retrying requests in case of network errors. All the supported Nutanix API clients add this auto-generated request identifier to each request. 
    # @param prism_v40_management_cluster_registration_spec [PrismV40ManagementClusterRegistrationSpec] The registration request consists of the remote cluster details. Credentials must be of domain manager (Prism Central) role.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Register202Response, Integer, Hash)>] Register202Response data, response status code and response headers
    def register_with_http_info(ext_id, if_match, ntnx_request_id, prism_v40_management_cluster_registration_spec, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainManagerApi.register ...'
      end
      # verify the required parameter 'ext_id' is set
      if @api_client.config.client_side_validation && ext_id.nil?
        fail ArgumentError, "Missing the required parameter 'ext_id' when calling DomainManagerApi.register"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && ext_id !~ pattern
        fail ArgumentError, "invalid value for 'ext_id' when calling DomainManagerApi.register, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'if_match' is set
      if @api_client.config.client_side_validation && if_match.nil?
        fail ArgumentError, "Missing the required parameter 'if_match' when calling DomainManagerApi.register"
      end
      # verify the required parameter 'ntnx_request_id' is set
      if @api_client.config.client_side_validation && ntnx_request_id.nil?
        fail ArgumentError, "Missing the required parameter 'ntnx_request_id' when calling DomainManagerApi.register"
      end
      # verify the required parameter 'prism_v40_management_cluster_registration_spec' is set
      if @api_client.config.client_side_validation && prism_v40_management_cluster_registration_spec.nil?
        fail ArgumentError, "Missing the required parameter 'prism_v40_management_cluster_registration_spec' when calling DomainManagerApi.register"
      end
      # resource path
      local_var_path = '/prism/v4.0/management/domain-managers/{extId}/$actions/register'.sub('{' + 'extId' + '}', CGI.escape(ext_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = if_match
      header_params[:'NTNX-Request-Id'] = ntnx_request_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prism_v40_management_cluster_registration_spec)

      # return_type
      return_type = opts[:debug_return_type] || 'Register202Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuthScheme', 'basicAuthScheme']

      new_options = opts.merge(
        :operation => :"DomainManagerApi.register",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainManagerApi#register\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Restore domain manager 
    # The restore domain manager is a task-driven operation to restore a domain manager from a cluster or object store  backup location based on the selected restore point. 
    # @param restore_source_ext_id [String] A unique identifier obtained from the restore source API that corresponds to the details provided for the  restore source. 
    # @param restorable_domain_manager_ext_id [String] A unique identifier for the domain manager. 
    # @param ext_id [String] Restore point ID for the backup created in cluster/object store. 
    # @param prism_v40_management_restore_spec [PrismV40ManagementRestoreSpec] 
    # @param [Hash] opts the optional parameters
    # @return [Restore202Response]
    def restore(restore_source_ext_id, restorable_domain_manager_ext_id, ext_id, prism_v40_management_restore_spec, opts = {})
      data, _status_code, _headers = restore_with_http_info(restore_source_ext_id, restorable_domain_manager_ext_id, ext_id, prism_v40_management_restore_spec, opts)
      data
    end

    # Restore domain manager 
    # The restore domain manager is a task-driven operation to restore a domain manager from a cluster or object store  backup location based on the selected restore point. 
    # @param restore_source_ext_id [String] A unique identifier obtained from the restore source API that corresponds to the details provided for the  restore source. 
    # @param restorable_domain_manager_ext_id [String] A unique identifier for the domain manager. 
    # @param ext_id [String] Restore point ID for the backup created in cluster/object store. 
    # @param prism_v40_management_restore_spec [PrismV40ManagementRestoreSpec] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Restore202Response, Integer, Hash)>] Restore202Response data, response status code and response headers
    def restore_with_http_info(restore_source_ext_id, restorable_domain_manager_ext_id, ext_id, prism_v40_management_restore_spec, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainManagerApi.restore ...'
      end
      # verify the required parameter 'restore_source_ext_id' is set
      if @api_client.config.client_side_validation && restore_source_ext_id.nil?
        fail ArgumentError, "Missing the required parameter 'restore_source_ext_id' when calling DomainManagerApi.restore"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && restore_source_ext_id !~ pattern
        fail ArgumentError, "invalid value for 'restore_source_ext_id' when calling DomainManagerApi.restore, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'restorable_domain_manager_ext_id' is set
      if @api_client.config.client_side_validation && restorable_domain_manager_ext_id.nil?
        fail ArgumentError, "Missing the required parameter 'restorable_domain_manager_ext_id' when calling DomainManagerApi.restore"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && restorable_domain_manager_ext_id !~ pattern
        fail ArgumentError, "invalid value for 'restorable_domain_manager_ext_id' when calling DomainManagerApi.restore, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'ext_id' is set
      if @api_client.config.client_side_validation && ext_id.nil?
        fail ArgumentError, "Missing the required parameter 'ext_id' when calling DomainManagerApi.restore"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && ext_id !~ pattern
        fail ArgumentError, "invalid value for 'ext_id' when calling DomainManagerApi.restore, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'prism_v40_management_restore_spec' is set
      if @api_client.config.client_side_validation && prism_v40_management_restore_spec.nil?
        fail ArgumentError, "Missing the required parameter 'prism_v40_management_restore_spec' when calling DomainManagerApi.restore"
      end
      # resource path
      local_var_path = '/prism/v4.0/management/restore-sources/{restoreSourceExtId}/restorable-domain-managers/{restorableDomainManagerExtId}/restore-points/{extId}/$actions/restore'.sub('{' + 'restoreSourceExtId' + '}', CGI.escape(restore_source_ext_id.to_s)).sub('{' + 'restorableDomainManagerExtId' + '}', CGI.escape(restorable_domain_manager_ext_id.to_s)).sub('{' + 'extId' + '}', CGI.escape(ext_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prism_v40_management_restore_spec)

      # return_type
      return_type = opts[:debug_return_type] || 'Restore202Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuthScheme', 'basicAuthScheme']

      new_options = opts.merge(
        :operation => :"DomainManagerApi.restore",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainManagerApi#restore\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Unregister a registered remote cluster from the local cluster
    # Unregister a registered remote cluster from the local cluster. This process is asynchronous, creating an unregisteration task and returning its UUID.
    # @param ext_id [String] The external identifier of the domain manager (Prism Central) resource.
    # @param if_match [String] The If-Match request header makes the request conditional. When not provided the server will respond with an HTTP 428 (Precondition Required) response code indicating that the server requires the request to be conditional. The server will allow successful completion of PUT and PATCH operations, if the resource matches the ETag value returned to the response of a GET operation. If the conditional does not match, then an HTTP 412 (Precondition Failed) response 
    # @param ntnx_request_id [String] A unique identifier that is associated with each request. The provided value must be opaque and preferably in Universal Unique Identifier (UUID) format. This identifier is also used as an idempotence token for safely retrying requests in case of network errors. All the supported Nutanix API clients add this auto-generated request identifier to each request. 
    # @param body [PrismV40ManagementClusterReference] Payload for unregistering a cluster
    # @param [Hash] opts the optional parameters
    # @return [Unregister202Response]
    def unregister(ext_id, if_match, ntnx_request_id, body, opts = {})
      data, _status_code, _headers = unregister_with_http_info(ext_id, if_match, ntnx_request_id, body, opts)
      data
    end

    # Unregister a registered remote cluster from the local cluster
    # Unregister a registered remote cluster from the local cluster. This process is asynchronous, creating an unregisteration task and returning its UUID.
    # @param ext_id [String] The external identifier of the domain manager (Prism Central) resource.
    # @param if_match [String] The If-Match request header makes the request conditional. When not provided the server will respond with an HTTP 428 (Precondition Required) response code indicating that the server requires the request to be conditional. The server will allow successful completion of PUT and PATCH operations, if the resource matches the ETag value returned to the response of a GET operation. If the conditional does not match, then an HTTP 412 (Precondition Failed) response 
    # @param ntnx_request_id [String] A unique identifier that is associated with each request. The provided value must be opaque and preferably in Universal Unique Identifier (UUID) format. This identifier is also used as an idempotence token for safely retrying requests in case of network errors. All the supported Nutanix API clients add this auto-generated request identifier to each request. 
    # @param body [PrismV40ManagementClusterReference] Payload for unregistering a cluster
    # @param [Hash] opts the optional parameters
    # @return [Array<(Unregister202Response, Integer, Hash)>] Unregister202Response data, response status code and response headers
    def unregister_with_http_info(ext_id, if_match, ntnx_request_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainManagerApi.unregister ...'
      end
      # verify the required parameter 'ext_id' is set
      if @api_client.config.client_side_validation && ext_id.nil?
        fail ArgumentError, "Missing the required parameter 'ext_id' when calling DomainManagerApi.unregister"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && ext_id !~ pattern
        fail ArgumentError, "invalid value for 'ext_id' when calling DomainManagerApi.unregister, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'if_match' is set
      if @api_client.config.client_side_validation && if_match.nil?
        fail ArgumentError, "Missing the required parameter 'if_match' when calling DomainManagerApi.unregister"
      end
      # verify the required parameter 'ntnx_request_id' is set
      if @api_client.config.client_side_validation && ntnx_request_id.nil?
        fail ArgumentError, "Missing the required parameter 'ntnx_request_id' when calling DomainManagerApi.unregister"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling DomainManagerApi.unregister"
      end
      # resource path
      local_var_path = '/prism/v4.0/management/domain-managers/{extId}/$actions/unregister'.sub('{' + 'extId' + '}', CGI.escape(ext_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = if_match
      header_params[:'NTNX-Request-Id'] = ntnx_request_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'Unregister202Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuthScheme', 'basicAuthScheme']

      new_options = opts.merge(
        :operation => :"DomainManagerApi.unregister",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainManagerApi#unregister\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update backup target 
    # Updates the credentials and/or RPO of the given object store. 
    # @param domain_manager_ext_id [String] A unique identifier for the domain manager. 
    # @param ext_id [String] A globally unique identifier of an instance that is suitable for external consumption. 
    # @param if_match [String] The If-Match request header makes the request conditional. When not provided, the server will respond with  an HTTP-428 (Precondition Required) response code indicating that the server requires the request to be conditional. The server will allow the successful completion of PUT and PATCH operations, if the resource matches the ETag value returned to the response of a GET operation. If the conditional does not match, then an HTTP-412 (Precondition Failed) response will be returned.
    # @param ntnx_request_id [String] A unique identifier that is associated with each request. The provided value must be opaque and preferably in Universal Unique Identifier (UUID) format. This identifier is also used as an idempotence token for safely retrying requests in case of network errors. All the supported Nutanix API clients add this auto-generated request identifier to each request. 
    # @param prism_v40_management_backup_target [PrismV40ManagementBackupTarget] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateBackupTargetById202Response]
    def update_backup_target_by_id(domain_manager_ext_id, ext_id, if_match, ntnx_request_id, prism_v40_management_backup_target, opts = {})
      data, _status_code, _headers = update_backup_target_by_id_with_http_info(domain_manager_ext_id, ext_id, if_match, ntnx_request_id, prism_v40_management_backup_target, opts)
      data
    end

    # Update backup target 
    # Updates the credentials and/or RPO of the given object store. 
    # @param domain_manager_ext_id [String] A unique identifier for the domain manager. 
    # @param ext_id [String] A globally unique identifier of an instance that is suitable for external consumption. 
    # @param if_match [String] The If-Match request header makes the request conditional. When not provided, the server will respond with  an HTTP-428 (Precondition Required) response code indicating that the server requires the request to be conditional. The server will allow the successful completion of PUT and PATCH operations, if the resource matches the ETag value returned to the response of a GET operation. If the conditional does not match, then an HTTP-412 (Precondition Failed) response will be returned.
    # @param ntnx_request_id [String] A unique identifier that is associated with each request. The provided value must be opaque and preferably in Universal Unique Identifier (UUID) format. This identifier is also used as an idempotence token for safely retrying requests in case of network errors. All the supported Nutanix API clients add this auto-generated request identifier to each request. 
    # @param prism_v40_management_backup_target [PrismV40ManagementBackupTarget] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateBackupTargetById202Response, Integer, Hash)>] UpdateBackupTargetById202Response data, response status code and response headers
    def update_backup_target_by_id_with_http_info(domain_manager_ext_id, ext_id, if_match, ntnx_request_id, prism_v40_management_backup_target, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainManagerApi.update_backup_target_by_id ...'
      end
      # verify the required parameter 'domain_manager_ext_id' is set
      if @api_client.config.client_side_validation && domain_manager_ext_id.nil?
        fail ArgumentError, "Missing the required parameter 'domain_manager_ext_id' when calling DomainManagerApi.update_backup_target_by_id"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && domain_manager_ext_id !~ pattern
        fail ArgumentError, "invalid value for 'domain_manager_ext_id' when calling DomainManagerApi.update_backup_target_by_id, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'ext_id' is set
      if @api_client.config.client_side_validation && ext_id.nil?
        fail ArgumentError, "Missing the required parameter 'ext_id' when calling DomainManagerApi.update_backup_target_by_id"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && ext_id !~ pattern
        fail ArgumentError, "invalid value for 'ext_id' when calling DomainManagerApi.update_backup_target_by_id, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'if_match' is set
      if @api_client.config.client_side_validation && if_match.nil?
        fail ArgumentError, "Missing the required parameter 'if_match' when calling DomainManagerApi.update_backup_target_by_id"
      end
      # verify the required parameter 'ntnx_request_id' is set
      if @api_client.config.client_side_validation && ntnx_request_id.nil?
        fail ArgumentError, "Missing the required parameter 'ntnx_request_id' when calling DomainManagerApi.update_backup_target_by_id"
      end
      # verify the required parameter 'prism_v40_management_backup_target' is set
      if @api_client.config.client_side_validation && prism_v40_management_backup_target.nil?
        fail ArgumentError, "Missing the required parameter 'prism_v40_management_backup_target' when calling DomainManagerApi.update_backup_target_by_id"
      end
      # resource path
      local_var_path = '/prism/v4.0/management/domain-managers/{domainManagerExtId}/backup-targets/{extId}'.sub('{' + 'domainManagerExtId' + '}', CGI.escape(domain_manager_ext_id.to_s)).sub('{' + 'extId' + '}', CGI.escape(ext_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = if_match
      header_params[:'NTNX-Request-Id'] = ntnx_request_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prism_v40_management_backup_target)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateBackupTargetById202Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuthScheme', 'basicAuthScheme']

      new_options = opts.merge(
        :operation => :"DomainManagerApi.update_backup_target_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainManagerApi#update_backup_target_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
