=begin
#Nutanix Prism APIs

#Manage Tasks, Category Associations and Submit Batch Operations.

The version of the OpenAPI document: 4.0

Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module NutanixPrism
  class TasksApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Cancel an ongoing task
    # Cancel an ongoing task for the provided taskExtId. This action is supported only if 'isCancelable' is set as True for the task. The task may continue to run for some time after the request has been made, until the backend server deems it is safe to cancel the task. Cancellation requests are idempotent and multiple such requests for the same ongoing task are supported.
    # @param task_ext_id [String] A globally unique identifier of a task. It consists of a prefix and a UUID separated by &#39;:&#39;. &#39;legacy&#39; prefix can be used with a task UUID provided by previous API families.
    # @param [Hash] opts the optional parameters
    # @return [CancelTask200Response]
    def cancel_task(task_ext_id, opts = {})
      data, _status_code, _headers = cancel_task_with_http_info(task_ext_id, opts)
      data
    end

    # Cancel an ongoing task
    # Cancel an ongoing task for the provided taskExtId. This action is supported only if &#39;isCancelable&#39; is set as True for the task. The task may continue to run for some time after the request has been made, until the backend server deems it is safe to cancel the task. Cancellation requests are idempotent and multiple such requests for the same ongoing task are supported.
    # @param task_ext_id [String] A globally unique identifier of a task. It consists of a prefix and a UUID separated by &#39;:&#39;. &#39;legacy&#39; prefix can be used with a task UUID provided by previous API families.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CancelTask200Response, Integer, Hash)>] CancelTask200Response data, response status code and response headers
    def cancel_task_with_http_info(task_ext_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TasksApi.cancel_task ...'
      end
      # verify the required parameter 'task_ext_id' is set
      if @api_client.config.client_side_validation && task_ext_id.nil?
        fail ArgumentError, "Missing the required parameter 'task_ext_id' when calling TasksApi.cancel_task"
      end
      pattern = Regexp.new(/^[a-zA-Z0-9\/+]*={0,2}:[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}/)
      if @api_client.config.client_side_validation && task_ext_id !~ pattern
        fail ArgumentError, "invalid value for 'task_ext_id' when calling TasksApi.cancel_task, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/prism/v4.0/config/tasks/{taskExtId}/$actions/cancel'.sub('{' + 'taskExtId' + '}', CGI.escape(task_ext_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CancelTask200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuthScheme', 'basicAuthScheme']

      new_options = opts.merge(
        :operation => :"TasksApi.cancel_task",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TasksApi#cancel_task\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Fetch a task
    # Fetch an asynchronous operation called a task for the provided extId.
    # @param ext_id [String] A globally unique identifier of a task. It consists of a prefix and a UUID separated by &#39;:&#39;. &#39;legacy&#39; prefix can be used with a task UUID provided by previous API families.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :select A URL query parameter that allows clients to request a specific set of properties for each entity or complex type. Expression specified with the $select must conform to the [OData V4.01](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html) URL conventions. If a $select expression consists of a single select item that is an asterisk (i.e., *), then all properties on the matching resource will be returned. - clusterExtIds - completedTime - completionDetails - createdTime - entitiesAffected - errorMessages - extId - isBackgroundTask - isCancelable - lastUpdatedTime - numberOfEntitiesAffected - numberOfSubtasks - operation - operationDescription - ownedBy/extId - ownedBy/name - parentTask - progressPercentage - rootTask - startedTime - status - subTasks - warnings 
    # @return [GetTaskById200Response]
    def get_task_by_id(ext_id, opts = {})
      data, _status_code, _headers = get_task_by_id_with_http_info(ext_id, opts)
      data
    end

    # Fetch a task
    # Fetch an asynchronous operation called a task for the provided extId.
    # @param ext_id [String] A globally unique identifier of a task. It consists of a prefix and a UUID separated by &#39;:&#39;. &#39;legacy&#39; prefix can be used with a task UUID provided by previous API families.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :select A URL query parameter that allows clients to request a specific set of properties for each entity or complex type. Expression specified with the $select must conform to the [OData V4.01](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html) URL conventions. If a $select expression consists of a single select item that is an asterisk (i.e., *), then all properties on the matching resource will be returned. - clusterExtIds - completedTime - completionDetails - createdTime - entitiesAffected - errorMessages - extId - isBackgroundTask - isCancelable - lastUpdatedTime - numberOfEntitiesAffected - numberOfSubtasks - operation - operationDescription - ownedBy/extId - ownedBy/name - parentTask - progressPercentage - rootTask - startedTime - status - subTasks - warnings 
    # @return [Array<(GetTaskById200Response, Integer, Hash)>] GetTaskById200Response data, response status code and response headers
    def get_task_by_id_with_http_info(ext_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TasksApi.get_task_by_id ...'
      end
      # verify the required parameter 'ext_id' is set
      if @api_client.config.client_side_validation && ext_id.nil?
        fail ArgumentError, "Missing the required parameter 'ext_id' when calling TasksApi.get_task_by_id"
      end
      pattern = Regexp.new(/^[a-zA-Z0-9\/+]*={0,2}:[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}/)
      if @api_client.config.client_side_validation && ext_id !~ pattern
        fail ArgumentError, "invalid value for 'ext_id' when calling TasksApi.get_task_by_id, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/prism/v4.0/config/tasks/{extId}'.sub('{' + 'extId' + '}', CGI.escape(ext_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'$select'] = opts[:'select'] if !opts[:'select'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetTaskById200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuthScheme', 'basicAuthScheme']

      new_options = opts.merge(
        :operation => :"TasksApi.get_task_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TasksApi#get_task_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List tasks
    # List tasks in the system. The response can be further filtered / sorted using the filtering and sorting options provided. By default the response would be sorted by 'createdTime' in the descending order.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page A URL query parameter that specifies the page number of the result set. It must be a positive integer between 0 and the maximum number of pages that are available for that resource. Any number out of this range might lead to no results.  (default to 0)
    # @option opts [Integer] :limit A URL query parameter that specifies the total number of records returned in the result set.  Must be a positive integer between 1 and 100. Any number out of this range will lead to a validation error. If the limit is not provided, a default value of 50 records will be returned in the result set.  (default to 50)
    # @option opts [String] :filter A URL query parameter that allows clients to filter a collection of resources. The expression specified with $filter is evaluated for each resource in the collection, and only items where the expression evaluates to true are included in the response. Expression specified with the $filter must conform to the [OData V4.01](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html) URL conventions. For example, filter &#39;$filter&#x3D;name eq &#39;karbon-ntnx-1.0&#39; would filter the result on cluster name &#39;karbon-ntnx1.0&#39;, filter &#39;$filter&#x3D;startswith(name, &#39;C&#39;)&#39; would filter on cluster name starting with &#39;C&#39;. The filter can be applied to the following fields: - clusterExtIds - completedTime - createdTime - entitiesAffected/extId - entitiesAffected/name - entitiesAffected/rel - extId - isBackgroundTask - lastUpdatedTime - operation - operationDescription - ownedBy/extId - ownedBy/name - parentTask - progressPercentage - rootTask - startedTime - status 
    # @option opts [String] :orderby A URL query parameter that allows clients to specify the sort criteria for the returned list of objects. Resources can be sorted in ascending order using asc or descending order using desc. If asc or desc are not specified, the resources will be sorted in ascending order by default. For example, &#39;$orderby&#x3D;templateName desc&#39; would get all templates sorted by templateName in descending order. The orderby can be applied to the following fields: - completedTime - createdTime - lastUpdatedTime - operation - operationDescription - ownedBy/extId - ownedBy/name - progressPercentage - startedTime - status 
    # @option opts [String] :select A URL query parameter that allows clients to request a specific set of properties for each entity or complex type. Expression specified with the $select must conform to the [OData V4.01](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html) URL conventions. If a $select expression consists of a single select item that is an asterisk (i.e., *), then all properties on the matching resource will be returned. - clusterExtIds - completedTime - completionDetails - createdTime - entitiesAffected - errorMessages - extId - isBackgroundTask - isCancelable - lastUpdatedTime - numberOfEntitiesAffected - numberOfSubtasks - operation - operationDescription - ownedBy/extId - ownedBy/name - parentTask - progressPercentage - rootTask - startedTime - status - subTasks - warnings 
    # @return [ListTasks200Response]
    def list_tasks(opts = {})
      data, _status_code, _headers = list_tasks_with_http_info(opts)
      data
    end

    # List tasks
    # List tasks in the system. The response can be further filtered / sorted using the filtering and sorting options provided. By default the response would be sorted by &#39;createdTime&#39; in the descending order.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page A URL query parameter that specifies the page number of the result set. It must be a positive integer between 0 and the maximum number of pages that are available for that resource. Any number out of this range might lead to no results.  (default to 0)
    # @option opts [Integer] :limit A URL query parameter that specifies the total number of records returned in the result set.  Must be a positive integer between 1 and 100. Any number out of this range will lead to a validation error. If the limit is not provided, a default value of 50 records will be returned in the result set.  (default to 50)
    # @option opts [String] :filter A URL query parameter that allows clients to filter a collection of resources. The expression specified with $filter is evaluated for each resource in the collection, and only items where the expression evaluates to true are included in the response. Expression specified with the $filter must conform to the [OData V4.01](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html) URL conventions. For example, filter &#39;$filter&#x3D;name eq &#39;karbon-ntnx-1.0&#39; would filter the result on cluster name &#39;karbon-ntnx1.0&#39;, filter &#39;$filter&#x3D;startswith(name, &#39;C&#39;)&#39; would filter on cluster name starting with &#39;C&#39;. The filter can be applied to the following fields: - clusterExtIds - completedTime - createdTime - entitiesAffected/extId - entitiesAffected/name - entitiesAffected/rel - extId - isBackgroundTask - lastUpdatedTime - operation - operationDescription - ownedBy/extId - ownedBy/name - parentTask - progressPercentage - rootTask - startedTime - status 
    # @option opts [String] :orderby A URL query parameter that allows clients to specify the sort criteria for the returned list of objects. Resources can be sorted in ascending order using asc or descending order using desc. If asc or desc are not specified, the resources will be sorted in ascending order by default. For example, &#39;$orderby&#x3D;templateName desc&#39; would get all templates sorted by templateName in descending order. The orderby can be applied to the following fields: - completedTime - createdTime - lastUpdatedTime - operation - operationDescription - ownedBy/extId - ownedBy/name - progressPercentage - startedTime - status 
    # @option opts [String] :select A URL query parameter that allows clients to request a specific set of properties for each entity or complex type. Expression specified with the $select must conform to the [OData V4.01](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html) URL conventions. If a $select expression consists of a single select item that is an asterisk (i.e., *), then all properties on the matching resource will be returned. - clusterExtIds - completedTime - completionDetails - createdTime - entitiesAffected - errorMessages - extId - isBackgroundTask - isCancelable - lastUpdatedTime - numberOfEntitiesAffected - numberOfSubtasks - operation - operationDescription - ownedBy/extId - ownedBy/name - parentTask - progressPercentage - rootTask - startedTime - status - subTasks - warnings 
    # @return [Array<(ListTasks200Response, Integer, Hash)>] ListTasks200Response data, response status code and response headers
    def list_tasks_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TasksApi.list_tasks ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling TasksApi.list_tasks, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling TasksApi.list_tasks, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling TasksApi.list_tasks, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/prism/v4.0/config/tasks'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'$page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'$limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'$filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'$orderby'] = opts[:'orderby'] if !opts[:'orderby'].nil?
      query_params[:'$select'] = opts[:'select'] if !opts[:'select'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListTasks200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuthScheme', 'basicAuthScheme']

      new_options = opts.merge(
        :operation => :"TasksApi.list_tasks",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TasksApi#list_tasks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
